* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title-cont {
  padding: 1em;
  border: solid;
  background-color: aliceblue;
  display: flex;
}

.text-cont {
  margin-top: 2em;
}

.title-text {
  font-size: 5rem;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
  margin: 0.5em 0;
}

.img-cont {
}

.tweet-container {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
}
.tweet {
  background-color: whitesmoke;
  border: solid;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  min-width: 10em;
  flex: 1 1 0;
}
