.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title-cont {
  padding: 1em;
  border: solid;
  background-color: aliceblue;
}
.title {
  font-size: 5rem;
  margin: 0.5em 0;
}
.subtitle {
  font-size: 2rem;
  margin: 0.5em 0;
}
.tweet-container {
  background-color: antiquewhite;
  display: flex;
}
.tweet {
  background-color: whitesmoke;
  border: solid;
  font-size: 2em;
  padding: 1em;
  margin: 1em;
  min-width: 3em;
  flex: 1 0 0;
  flex-wrap: wrap;
}
